# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Cloud / credentials
key.json

# IDE
.vscode/
.idea/

# Build / temp
dist/
build/
